ul {
    list-style: none;
    padding-left: 0;
}

#categories {
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px;
    width: 440px;
    background: #fff;
    margin: 0 auto;
}

#categories ul {
    padding-bottom: 16px;
}


h2{
    padding: 16px;
    margin: 0 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
}

.item {
    background: #f6f6fe;
}

.item:not(:last-child) {
    margin-bottom: 24px;
}

.item li{
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    margin: 0 16px;
}
.item li:not(:last-child) {
    margin-bottom: 8px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1128px;
}
.gallery li {
    width: 33.33%;
}

input {
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 408px;
    margin: 50px auto;
    padding: 24px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form label {
    margin-bottom: 10px;
}

.login-form button {
    width: 86px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #4e75ff;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.login-form button:hover{
    background-color: #6C8CFF;
}

.change-color {
    width: 148px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #4e75ff;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.change-color:hover {
    background-color: #6C8CFF;
}

.widget {
    margin: 50px auto;
    padding: 100px 88px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 345px;
    height: 280px;
}

#controls {
    width: 500px;
    margin: 50px auto;
    padding: 32px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#controls input {
    width: 150px;
    height: 40px;
    margin-right: 16px;
}

#controls button {
    width: 120px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #4e75ff;
    color: #fff;
    transition: 0.3s ease-in-out;
}


#controls button:nth-child(3) {
    margin-left: 16px;
    background: #ff4e4e;
}

#controls button:nth-child(2):hover {
    background: #6C8CFF;
}
#controls button:nth-child(3):hover {
    background: #ff7070;
}
#boxes {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}